<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        {% endblock %}

    </head>
    <body>
    <hearder>
    <nav class="navbar navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#"><b>Efficience IT</b></a>
        </div>
    </nav>
    </hearder>
            {% block content %}
            {% endblock %}
    <footer class="footer mt-3">
        <div class="text-center">
            <p>Copyright © Efficience IT 2022</p>
        </div>
    </footer>
    </body>
</html>
